.App {
    width: 100%;
    height: 100vh;
    background-color: rgb(191, 191, 191);
}
.Header {
    width:100%;
    height:60px;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoSearch {
    width:340px;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo_Contain {
    width:75px;
    height:60px;
    /* background-color: coral; */
}
.search_items {
    width:270px;
    height:50px;
    border-radius: 30px;
    background-color: white;
    display:flex;
    align-items: center;
}
.search_box {
    width:20px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.facebook {
    width:350px;
    height:60px;
    /* background-color: aqua; */
    margin-left: 10px;
}
.word {
    font-size: 1.2rem;
    color: black;
}
.Icons_Contain {
    width:420px;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width:769px) {
    .Icons_Contain {
        display: none;
    }
}
.Home_Contain {
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Market_Contain {
    width:50px;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Group_Contain {
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Game_Contain {
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_contain {
    width:300px;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu_Contain {
    width:50px;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.message_Contain {
    width:50px;
    height:45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notify_Contain {
    width:50px;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile_Contain {
    width:50px;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    border: 2px solid black;
    background: none;
}